.card {
  margin: 5vw auto;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  height: 180vw;
  background: linear-gradient(#ccc, #333);
}

.img-holder {
  height: 50vw;
  width: 49.5vw;
  border: 1px solid #111;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.txt {
  background-color: white;
  color: black;
  margin-bottom: 5vw;
  height: 50vw;
  width: 45.9vw;
  padding: 2vw;
  font-size: 3.5vw;
  font-family: sans-serif;
  text-align: left;
  border-radius: 2vw;
}

.margin-top-zero {
  margin-top: -3vw;
  padding-top: 5vw;
  border-top-radius: 0px;
}

.btn {
  padding: 5px;
  width: 47.5vw;
  font-size: 4vw;
  border-radius: 2vw;
}

farbod jan in css dovomi ro paste kon .card {
  margin: 5vw auto;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  height: 180vw;
  background: linear-gradient(#ccc, #333);
}

.img-holder {
  height: 50vw;
  width: 50vw;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.txt {
  background-color: white;
  color: black;
  margin-bottom: 5vw;
  height: 50vw;
  width: 45.8vw;
  padding: 2vw;
  font-size: 3.5vw;
  font-family: sans-serif;
  text-align: left;
  border-radius: 2vw;
}

.margin-top-zero {
  margin-top: -3vw;
  padding-top: 5vw;
  border-top-radius: 0px;
}

.btn {
  padding: 5px;
  width: 47.5vw;
  font-size: 4vw;
  border-radius: 2vw;
}
